In [1]:
import pandas as pd
import pandas_datareader as web
import datetime as dt
import yfinance as yf

In [2]:
# Getting stock market data

COUNTRIES = {
    'USA': {
        'suffix': '',
        'currency': 'USD'
    },
    'IND': {
        'suffix': '.NS',
        'currency': 'INR'
    }
}

def get_stock_data(stocks, start, end, country, interval='1d', period=None):
    
    """
    Parameters
    ----------
    stocks : list / str
        list of stock tickers or a str ticker
    start : <class 'datetime.datetime'>
        start date
    end : <class 'datetime.datetime'>
        end date
    country: str
        country ISO code of stock
    interval: str
        fetch data by interval (including intraday if period < 60 days)
        valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    period: str
        use "period" instead of start/end
        valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    """
    
    if isinstance(stocks, list):
        pass
    elif isinstance(stocks, str):
        stocks = [stocks]
    else:
        raise TypeError("str / list of str expected for stocks")

    
    suffixed_ticker = [stock + COUNTRIES[country]['suffix'] for stock in stocks]
    
    if(not period):
        data = yf.download(suffixed_ticker, start=start, end=end, interval=interval)

    else:
        data = yf.download(suffixed_ticker, interval=interval, period=period)

    return data, COUNTRIES[country]['currency']
    
    
    
stocks = ['BA', 'AMD']
stocks_ind = ['SBIN', 'RELIANCE']

INDIA_ISO = 'IND'
USA_ISO = 'USA'


start = dt.datetime(2021, 5, 21)
end = dt.datetime.now()


data, currency = get_stock_data("AAPL", start, end, USA_ISO, interval='1m')
print(f'Currency is {currency}')
print(data)

[*********************100%***********************]  1 of 1 completed
Currency is USD
                                 Open        High         Low       Close  \
Datetime
2021-05-21 09:30:00-04:00  127.805000  127.820000  127.779999  127.820000
2021-05-21 09:31:00-04:00  127.849998  127.989998  127.730003  127.750000
2021-05-21 09:32:00-04:00  127.745003  127.775002  127.349998  127.400002
2021-05-21 09:33:00-04:00  127.419998  127.550003  127.309998  127.389099
2021-05-21 09:34:00-04:00  127.380096  127.529999  127.309998  127.445000
...                               ...         ...         ...         ...
2021-05-24 15:55:00-04:00  127.330002  127.339996  127.199997  127.250000
2021-05-24 15:56:00-04:00  127.245003  127.250000  127.150002  127.190002
2021-05-24 15:57:00-04:00  127.184998  127.190002  127.139999  127.150002
2021-05-24 15:58:00-04:00  127.150002  127.154999  127.040001  127.040001
2021-05-24 15:59:00-04:00  127.049896  127.169998  127.000000  127.099998

                            Adj Close   Volume
Datetime
2021-05-21 09:30:00-04:00  127.820000  4325452
2021-05-21 09:31:00-04:00  127.750000   462167
2021-05-21 09:32:00-04:00  127.400002   648763
2021-05-21 09:33:00-04:00  127.389099   539650
2021-05-21 09:34:00-04:00  127.445000   410063
...                               ...      ...
2021-05-24 15:55:00-04:00  127.250000   497764
2021-05-24 15:56:00-04:00  127.190002   448209
2021-05-24 15:57:00-04:00  127.150002   417140
2021-05-24 15:58:00-04:00  127.040001   670751
2021-05-24 15:59:00-04:00  127.099998  1142531

[780 rows x 6 columns]

In [3]:
 # print a list of all available exchange classes

In [4]:
# BTC Data

df = pd.read_csv('https://www.cryptodatadownload.com/cdd/gemini_BTCUSD_1hr.csv', header=1)
df_filtered = df[["Date", "Open"]]
df_filtered = df_filtered.iloc[::-1]
n = len(df_filtered)
df_filtered.iloc[::1, :]

def get_btc_data(interval='1h', period='30d'):
    if(interval[-1] == 'h'):
        hours = int(interval.split('h')[0])
    if(interval[-1] == 'd'):
        hours = int(interval.split('d')[0])
        hours *= 24
    interval = hours
        
    if(period[-1] == 'h'):
        hours = int(period.split('h')[0])
    if(period[-1] == 'd'):
        hours = int(period.split('d')[0])
        hours *= 24
    period = hours
    
    return df_filtered.tail(period).iloc[::int(interval), :]

get_btc_data(interval='1h', period='100d')

                     Date      Open
2399  2021-02-14 01:00:00  47658.80
2398  2021-02-14 02:00:00  47544.33
2397  2021-02-14 03:00:00  47495.82
2396  2021-02-14 04:00:00  47381.80
2395  2021-02-14 05:00:00  47613.18
...                   ...       ...
4     2021-05-24 20:00:00  39630.69
3     2021-05-24 21:00:00  39026.70
2     2021-05-24 22:00:00  38528.14
1     2021-05-24 23:00:00  38484.77
0     2021-05-25 00:00:00  38861.83

[2400 rows x 2 columns]