In [18]:
import pandas as pd
import pandas_datareader as web
import datetime as dt

In [41]:
COUNTRIES = {
    'USA': {
        'suffix': '',
        'currency': 'USD'
    },
    'IND': {
        'suffix': '.NS',
        'currency': 'INR'
    }
}

def get_stock_data(stocks, start, end, country):
    
    if isinstance(stocks, list):
        pass
    elif isinstance(stocks, str):
        stocks = [stocks]
    else:
        return "Invalid Ticker exception"
    
    suffixed_ticker = [stock + COUNTRIES[country]['suffix'] for stock in stocks]
    print(suffixed_ticker)
    
    d = web.DataReader(suffixed_ticker, 'yahoo', start, end)
    d[len(d)-10:]['Close']
    print(d)
    
    
    
stocks = ['BA', 'AMD']
stocks_ind = ['SBIN', 'RELIANCE']

INDIA_ISO = 'IND'
USA_ISO = 'USA'


start = dt.datetime(2018, 1, 1)
end = dt.datetime.now()


get_stock_data(stocks, start, end, USA_ISO)

list
['BA', 'AMD']
Attributes   Adj Close                  Close                   High  \
Symbols             BA        AMD          BA        AMD          BA
Date
2018-01-02  282.886383  10.980000  296.839996  10.980000  296.989990
2018-01-03  283.801239  11.550000  297.799988  11.550000  298.500000
2018-01-04  282.724396  12.120000  296.670013  12.120000  298.420013
2018-01-05  294.322296  11.880000  308.839996  11.880000  308.890015
2018-01-08  295.570740  12.280000  310.149994  12.280000  310.859985
...                ...        ...         ...        ...         ...
2021-05-18  227.550003  74.440002  227.550003  74.440002  232.270004
2021-05-19  224.419998  76.230003  224.419998  76.230003  225.119995
2021-05-20  227.649994  78.059998  227.649994  78.059998  228.440002
2021-05-21  234.820007  77.169998  234.820007  77.169998  236.300003
2021-05-24  237.440002  77.440002  237.440002  77.440002  238.500000

Attributes                    Low                   Open             \
Symbols           AMD          BA        AMD          BA        AMD
Date
2018-01-02  11.020000  295.399994  10.340000  295.750000  10.420000
2018-01-03  12.140000  295.470001  11.360000  295.940002  11.610000
2018-01-04  12.430000  295.470001  11.970000  297.940002  12.100000
2018-01-05  12.220000  296.720001  11.660000  296.769989  12.190000
2018-01-08  12.300000  305.750000  11.850000  308.660004  12.010000
...               ...         ...        ...         ...        ...
2021-05-18  75.769997  226.429993  74.239998  227.250000  74.739998
2021-05-19  76.970001  220.279999  72.760002  223.179993  73.160004
2021-05-20  78.269997  223.770004  76.250000  225.130005  76.809998
2021-05-21  78.809998  231.389999  77.040001  232.899994  78.550003
2021-05-24  78.010002  232.600006  76.809998  235.139999  77.260002

Attributes      Volume
Symbols             BA          AMD
Date
2018-01-02   2978900.0   44146300.0
2018-01-03   3211200.0  154066700.0
2018-01-04   4171700.0  109503000.0
2018-01-05   6177700.0   63808900.0
2018-01-08   4124900.0   63346000.0
...                ...          ...
2021-05-18  10081100.0   31982500.0
2021-05-19  13162700.0   73966200.0
2021-05-20   9218900.0   49135000.0
2021-05-21  16350200.0   40172600.0
2021-05-24   9972793.0   33101409.0

[854 rows x 12 columns]