In [20]:
import pandas as pd
import pandas_datareader as web
import datetime as dt
import yfinance as yf

In [21]:
# Getting stock market data

COUNTRIES = {
    'USA': {
        'suffix': '',
        'currency': 'USD'
    },
    'IND': {
        'suffix': '.NS',
        'currency': 'INR'
    }
}

def get_stock_data(stocks, start, end, country, interval='1d', period=None):
    
    """
    Parameters
    ----------
    stocks : list / str
        list of stock tickers or a str ticker
    start : <class 'datetime.datetime'>
        start date
    end : <class 'datetime.datetime'>
        end date
    country: str
        country ISO code of stock
    interval: str
        fetch data by interval (including intraday if period < 60 days)
        valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
    period: str
        use "period" instead of start/end
        valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
    """
    
    if isinstance(stocks, list):
        pass
    elif isinstance(stocks, str):
        stocks = [stocks]
    else:
        raise TypeError("str / list of str expected for stocks")

    
    suffixed_ticker = [stock + COUNTRIES[country]['suffix'] for stock in stocks]
    
    if(not period):
        data = yf.download(suffixed_ticker, start=start, end=end, interval=interval)

    else:
        data = yf.download(suffixed_ticker, interval=interval, period=period)

    return data, COUNTRIES[country]['currency']
    
    
    
stocks = ['BA', 'AMD']
stocks_ind = ['SBIN', 'RELIANCE']

INDIA_ISO = 'IND'
USA_ISO = 'USA'


start = dt.datetime(2021, 5, 21)
end = dt.datetime.now()


data, currency = get_stock_data("AAPL", start, end, USA_ISO, interval='1m')
print(f'Currency is {currency}')
print(data)

[*********************100%***********************]  1 of 1 completed
Currency is USD
                                 Open        High         Low       Close  \
Datetime
2021-05-21 09:30:00-04:00  127.805000  127.820000  127.779999  127.820000
2021-05-21 09:31:00-04:00  127.849998  127.989998  127.730003  127.750000
2021-05-21 09:32:00-04:00  127.745003  127.775002  127.349998  127.400002
2021-05-21 09:33:00-04:00  127.419998  127.550003  127.309998  127.389099
2021-05-21 09:34:00-04:00  127.380096  127.529999  127.309998  127.445000
...                               ...         ...         ...         ...
2021-05-25 15:55:00-04:00  126.809998  126.900002  126.779999  126.815002
2021-05-25 15:56:00-04:00  126.815002  126.830002  126.750000  126.790001
2021-05-25 15:57:00-04:00  126.790001  126.839996  126.775002  126.790001
2021-05-25 15:58:00-04:00  126.790001  126.860001  126.785004  126.805000
2021-05-25 15:59:00-04:00  126.809998  126.959999  126.800003  126.930000

                            Adj Close   Volume
Datetime
2021-05-21 09:30:00-04:00  127.820000  4325452
2021-05-21 09:31:00-04:00  127.750000   462167
2021-05-21 09:32:00-04:00  127.400002   648763
2021-05-21 09:33:00-04:00  127.389099   539650
2021-05-21 09:34:00-04:00  127.445000   410063
...                               ...      ...
2021-05-25 15:55:00-04:00  126.815002   350274
2021-05-25 15:56:00-04:00  126.790001   296460
2021-05-25 15:57:00-04:00  126.790001   323674
2021-05-25 15:58:00-04:00  126.805000   366690
2021-05-25 15:59:00-04:00  126.930000   759373

[1170 rows x 6 columns]

In [22]:
 # print a list of all available exchange classes

In [38]:
# Cypto Data
# Source - https://www.cryptodatadownload.com/data/gemini/

BTC_CSV_URL = 'https://www.cryptodatadownload.com/cdd/gemini_BTCUSD_1hr.csv'
ETH_CSV_URL = 'https://www.cryptodatadownload.com/cdd/gemini_ETHUSD_1hr.csv'
LTH_CSV_URL = 'https://www.cryptodatadownload.com/cdd/gemini_LTCUSD_1hr.csv'

CRYPTO_SYMBOLS = {
    'BTC': {
        'URL': 'https://www.cryptodatadownload.com/cdd/gemini_BTCUSD_1hr.csv',
        'Name': 'Bitcoin'
    },
    'ETH': {
        'URL': 'https://www.cryptodatadownload.com/cdd/gemini_ETHUSD_1hr.csv',
        'Name': 'Ethereum'
    },
    'LTH': {
        'URL': 'https://www.cryptodatadownload.com/cdd/gemini_LTCUSD_1hr.csv',
        'Name': 'Litecoin'
    }
}

COLUMN_FILTERS = ["Date", "Open"]



def get_crypto_data(symbol='BTC', interval='1h', period='30d'):
    
    df = pd.read_csv(CRYPTO_SYMBOLS[symbol]['URL'], header=1)
    df_filtered = df[COLUMN_FILTERS]
    df_filtered = df_filtered.iloc[::-1]
    n = len(df_filtered)
    df_filtered.iloc[::1, :]
    
    if(interval[-1] == 'h'):
        hours = int(interval.split('h')[0])
    if(interval[-1] == 'd'):
        hours = int(interval.split('d')[0])
        hours *= 24
    interval = hours
        
    if(period[-1] == 'h'):
        hours = int(period.split('h')[0])
    if(period[-1] == 'd'):
        hours = int(period.split('d')[0])
        hours *= 24
    period = hours
    
    return df_filtered.tail(period).iloc[::int(interval), :]

get_crypto_data(symbol='BTC', interval='1h', period='1100d')

                      Date      Open
26399  2018-05-21 22:00:00   8380.00
26398  2018-05-21 23:00:00   8405.00
26397  2018-05-22 00:00:00   8395.71
26396  2018-05-22 01:00:00   8367.81
26395  2018-05-22 02:00:00   8286.55
...                    ...       ...
4      2021-05-25 20:00:00  37363.25
3      2021-05-25 21:00:00  37641.22
2      2021-05-25 22:00:00  37987.17
1      2021-05-25 23:00:00  38459.00
0      2021-05-26 00:00:00  38390.30

[26400 rows x 2 columns]